body{
    font-family: Arial, Helvetica, sans-serif;
}
.box1, .box2{
    border: 2px solid #444;
    padding: 10px;
}
/* If margin collision happens then max (margin1, margin2) gets selected: */
/* so here margin-top gets preference */
.box1{
    margin-bottom: 4px;
}
.box1{
    margin-top: 50px;
}